.section-activities {
  display: flex !important;
  align-items: center;

  .title-activities {
    margin-left: 0.6rem;
    font-size: 1.38rem;
  }
  img.mini {
    width: 21px !important;
  }
}

.card-list-activities {
  .card-header-activities.content:not(:first-child) {
    border-top: none !important;
  }
}

.menu.center .item{
  //margin-left: 4.6rem!important;
}
.label-icon-only i{
  margin-right: 0!important;
}

div.checkbox-list {
  display: inline-block;
  vertical-align: bottom;
  width: 2rem;
  height: 2rem;
}

.ui.list > .item > div.checkbox-list + .content {
  display: inline-block;
}