.subheader-segment {
  padding-bottom: 0!important;


  h2{
    margin-bottom: 0!important;
  }

  .subheader-tab {
    width: auto;
    display: flex;
    margin: auto;
    text-align: center;

    .secondary.menu {
      margin: auto;
    }
  }

}