.app, .app > div, .app > div > div {
  height: 100%;
}

.ui.segment{
  border:0;
  border-radius: 0;
}
.text-center{
  text-align: center;
}

.pokemon-sprite{
  position: relative;

}

.pokemon-sprite img{
  position: absolute !important;
  top:-20px;
  right: -10px;
}

.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.hide{
  display: none;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
  text-align: center;

}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}
