.app, .app > div, .app > div > div {
  height: 100%;
}

.ui.segment{
  border:0;
  border-radius: 0;
}
.text-center{
  text-align: center;
}

.pokemon-sprite{
  position: relative;

}

.pokemon-sprite img{
  position: absolute !important;
  top:-20px;
  right: -10px;
}

.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
